article {
    padding-top: 25px;
    padding-bottom: 15px;
}

.previewArea {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.activeDetail {
    td {
        width: 1px;
    }

    img {
        display: block;
        width: 100%;
    }
}

#isCreateButton {
    opacity: 0;
    position: absolute;
}

#isCreateButton ~ .activityBtns > .activitySubmit {
    display: none;
}

#isCreateButton ~ .activityBtns > .activityModify {
    display: inline-block;
}

#isCreateButton ~ .activityBtns > .activityDelete {
    display: inline-block;
}

#isCreateButton:checked ~ .activityBtns > .activitySubmit {
    display: inline-block;
}

#isCreateButton:checked ~ .activityBtns > .activityModify {
    display: none;
}

#isCreateButton:checked ~ .activityBtns > .activityDelete {
    display: none;
}