article {
    padding-top: 25px;
    padding-bottom: 15px;
}

.previewArea {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

#activitySubmitButton ~ .activityBtns > .activitySubmit {
    display: none;
}

#activityModifyButton ~ .activityBtns > .activityModify {
    display: none;
}

#activityDeleteButton ~ .activityBtns > .activityDelete {
    display: none;
}

#activitySubmitButton:checked ~ .activityBtns > .activitySubmit {
    display: block;
}

#activityModifyButton:checked ~ .activityBtns > .activityModify {
    display: block;
}

#activityDeleteButton:checked ~ .activityBtns > .activityDelete {
    display: block;
}